<header class="clearfix">

<div class="container">
<section class="row">
<div class="col-sm-12">

<nav class="navbar navbar-expand-sm navbar-expand-md navbar-light fixed-top shadow" style="background:rgb(255, 255, 255)">  


<a class="navbar-brand mr-5" > <img src="http://localhost/www/Portofile/img/Logo/x.png" alt="" width="55"> </a>

<button class="navbar-toggler" data-toggle="collapse" data-target="#navb" aria-expanded="true" aria-controls="navb" aria-label="Toggle navigation"> 
<i class="bi bi-justify  text-white" ></i> 
</button> 


<div class="collapse navbar-collapse" id="navb"> 


<div class="navbar-nav ml-auto" id="nav-list">


<li class="nav-item"> 
<a class="nav-link" href="#"> About </a>
</li> 

<li class="nav-item  mr-3"> 
<a class="nav-link " href="index.php"> Projects</a>
</li> 

<li class="nav-item  mr-3"> 
<a class="nav-link " href="index.php">  Skills </a>
</li> 




</div>

</div>
</div>

</section>

</nav>


<div class="row ">
<div class=" col-8 py-5 my-5">

<div class="home-text py-5 my-5 ">
<small>Hello i'm </small>
<h1 class="text-left">Ahmed Hamdy</h1>
<p class="text-wrap font-weight-light">Full Stack Web Developer | IT Support | Backend Nodejs | React Developer | PHP Web Developer | Graphic Design | Motion Graphic | Montage | Adobe Photoshop | Illustrator | Unity Developer |Belender 3D</p>
<a href="" class="btn btn-block btn-sm w-25 py-2 text-white " style="background:linear-gradient( rgba(80, 62, 145, 0.808), rgb(97, 44, 184))">Download Resume</a>
<ul class="list-inline list-unstyled p-3" style="font-size: 1.5rem;">
<li class="list-inline-item"> <i class="bi bi-facebook"></i> </li>
<li class="list-inline-item"><i class="bi bi-twitter"></i></li>
<li class="list-inline-item"><i class="bi bi-github"></i></li>
</ul>
</div>
</div>

<div class=" col-sm-4 py-5 " >
<img  id="img" class="float-left p-5 " src="http://localhost/www/Portofile/img/assests/cut3.png" >
<div class="card shadow py-3 rounded " id="card">
<div class="card-body">

<ol class="list-unstyled" style="color:indigo;">
<li > <span class="font-weight-light"> class</span>   <span class="font-weight-bold"> Job </span>{</li>
<li>1<span class="pl-3"> private $name;</span></li>
<li>2 <span class="pl-3">private $Profession;</span></li>
<li>3 <span class="pl-3">private $Age;</span></li>
<li>4 <span class="pl-3">function__construct(){</span></li>
<li>5 <span class="pl-5">$this->name = "<strong> Ahmed </strong>"</span> </li>
<li>6 <span class="pl-5">$this->Profession = "<strong>GEEK</strong>"</span> </li>
<li>7 <span class="pl-5">$this->Age= new Date('1995')</span></li>
<li>8  <span class="pl-4">}</span></li>
<li>9 }</li>
</ol>
</div>
</div>

</div>

</div>
</div>

</header>


