<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<main class=" pb-5 mb-5 ">

<div class="ILove text-center py-5 my-5" >    
    <h1>Things I Love </h1>
    <div class="container py-5">
      <div class="row d-flex justify-content-around">

        <div class=" col border rounded shadow py-5  ">
           <i class=" my-5 p-4 bi bi-code-square display-4 rounded-circle  bg-primary text-white font-weight-bold"></i>
           <p class="mt-5 pt-5 text-break">Javascript, PHP, Coding,NodeJS,ReactJs, ExpressJs</p>
          </div>
          <div class="col mx-3 border rounded shadow py-5">
            <i class="my-5 p-4 bi bi-filetype-php display-4 rounded-circle  bg-primary text-white font-weight-bold"></i>
            <p class="mt-5 pt-5">My Time , Meet Chellange , Coding without stop, Learning New languages </p>
           </div>
           <div class="col-4 border rounded shadow py-5">
            <i class="my-5 p-4 bi bi-brush display-4 rounded-circle  bg-primary text-white font-weight-bold"></i>
            <p class="mt-5 pt-5">Painting is like Art, its meets the requirement to do things that you love </p>
           </div>

      </div>
 
    </div>
</div>

<h2 class="m-0 p-0 px-0 py-0 text-center font-weight-bold" style="color: rgb(127, 20, 204);" >About Me </h2>
<div class="SFwcK" style="margin-top:120px;background: rgb(127, 20, 204);">    
 <div class="container">
      <div class="row m-auto">
        <div class="col-md-8 col-lg-6">
          <img
          src="http://localhost/www/Portofile/img/Logo/DSCN2986.JPG"
          alt="Ahmed Hamdy"
          class="img-fluid py-4 my-5 me-3 rounded-circle ml-5 "
           width="240"/>
        </div>

        <!-- Body -->
        <div class="col-md-4 col-lg-6 py-2 my-5 ">
          <p class="pt-2 mt-2 text-white">
         Hi, I'm Ahmed Hamdy, a self-taught passionate FrontEnd and BackEnd at the same time, from Egypt, Currently
         working at ALKayn as Full Stack Developer I've been Building stuff on the web since 2015,I've made E-commerce Shop - Admin panal - CRUD API'S - Image API
         I also using ReactJs to build user interfaces
          </p>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center px-0 py-5 mx-0 my-5">
  
  <div class="col col-md-9 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon shadow-1-strong rounded">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="mb-0 mt-2 font-italic">
            "I know i am not successfull,but i am not worried about my success "
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>

  </div>

    
  <div class="col col-md-9 col-lg-6 col-xl-6 mb-3">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon shadow-1-strong rounded">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="mb-0 mt-2 font-italic">
            "Simplicity is the baddest chioce to be the best "
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>

  </div>

    
  <div class="col mx-3">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
          <div class="blockquote-custom-icon shadow-1-strong rounded">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="mb-0 mt-2 font-italic">
            " "
          </p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>

  </div>
</div>
<div class="text-center" id="skills">
<h1 class="py-5 my-4" style="color:blueviolet"> MySkills</h1>
<div class="row">

  <div class=" col">
    <i class="fa-brands fa-php fa-2xs"></i>
    </div>
      <div class="col ">
    <i class="fa-brands fa-react fa-sm"></i>
    </div>
      <div class="col">
     <i class="my-5 p-4 bi bi-brush display-4 rounded-circle  bg-primary text-white font-weight-bold"></i>
    </div>
</div>
</div>

<div class="text-center pt-5 mt-5" id="skills">
  <h1 class="p-5 mt-4" style="color:blueviolet"> Side Projects</h1>
  
</main>
